section#about
  .dc
    img.img-responsive(src="/images/dc.png", alt="damagecontrol")
  .about-content
    h2 About International Swagg
    p.black #{about}
    a.btn.btn-primary(href="http://damagecontrolhq.com") 
      | More on Damage Control &nbsp
      i.fa.fa-angle-right
