section#event
  .container
    .row
      .col-sm-12.col-md-9
        #event-carousel.carousel.slide(data-interval="false")
          h2.heading previous events
          a.even-control-left(data-slide="prev" href="#event-carousel")
            i.fa.fa-angle-left
          a.even-control-right(data-slide="next" href="#event-carousel")
            i.fa.fa-angle-right
          .carousel-inner
            - for (var i = 0, len = events.length; i < len; i++)
              .item
                .row
                  - for (var j = 0, arr = events[i].length; j < arr; j++)
                    .col-sm-4
                      .single-event
                        a(href="events/#{events[i][j]['id']}")
                          img.img-responsive(src="#{events[i][j]['flyer']['sm']['url']}", alt: "event-image")
                        h4 #{events[i][j]['name']}
      .guitar
        img.img-responsive(src="/images/calendar.png", alt: "calendar")
