section#explore
  .container
    .row
      .watch
        img.img-responsive(src="/images/watch.png", alt: "countdown")
      .col-md-4.col-md-offset-2.col-sm-5
        h2 swagg kicks off in
      .col-sm-7.col-md-6
        ul#countdown
          li
            span.days.time-font 00
            p days
          li
            span.hours.time-font 00
            p hours
          li
            span.minutes.time-font 00
            p minutes
          li
            span.seconds.time-font 00
            p seconds
    //- .cart
    //-   a(href="#")
    //-     i.fa.fa-shopping-cart
    //-     span Purchase Tickets
