footer#footer
  .container
    .row.animated(data-andown="fadeIn" data-animation="animation")
      .col-sm-12.center
        .social-icons.mar-bot-20
          a(href="http://facebook.com/International-Swagg-489494244562129/")
            i.fa.fa-facebook
          a(href="http://instagram.com/damagecontrolfamily")
            i.fa.fa-instagram
          a(href="http://youtube.com/damagecontrolhq")
            i.fa.fa-youtube
          a(href="mailto:info@internationalswagg.com")
            i.fa.fa-envelope
    .text-center
      p 
        | &copy; 2016 
        a(href="http://damagecontrolhq.com/" target="_blank") Damage Control Entertainment. 
        | All Rights Reserved
      ul.footer
        li
          | #[a(href="../privacy") Privacy]
        li
          | #[a(href="../terms") Terms]
