header#header(role="banner")
  .main-nav
    .container
      .header-top
        .pull-right.social-icons
          a(href="http://facebook.com/International-Swagg-489494244562129/")
            i.fa.fa-facebook
          a(href="http://instagram.com/damagecontrolentertainment")
            i.fa.fa-instagram
          a(href="http://youtube.com/damagecontrolhq")
            i.fa.fa-youtube
      .row
        .navbar-header
          button.navbar-toggle(data-target=".navbar-collapse" data-toggle="collapse" type="button")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='../', class="navbar-brand")
            img(src="../images/logo.png", alt="logo", class="img-responsive")
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.scroll(class=(page === 'home' ? 'active' : ''))
              a(href="../#home") Home
            li.scroll
              a(href="../#explore") Explore
            li.scroll
              a(href="../#event") Events
            li.scroll
              a(href="../#about") About
            li.no-scroll
              a(href="../#instagram") Feed
            li.scroll
              a(href="../#direction") Directions
            li.no-scroll
              a.no-scroll.chat(href="../chat") Chat
            - if (user != null)
                li.no-scroll.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | #{user.firstName}'s Profile
                    span.caret
                  ul.dropdown-menu
                    li
                      a.no-scroll.profile(href="../profile") View Profile
                      //- a.loginBtn(href="../#" data-toggle='modal' data-target='#profileModal') View Profile
                    li
                      a.no-scroll(href='../logout') Logout
            - else
              li.no-scroll
                a.loginBtn(href="../#" data-toggle='modal' data-target='#loginModal') Login
