section#home
  #main-slider.carousel.slide(data-ride="carousel")
    ol.carousel-indicators
      li.active(data-slide-to="0" data-target="#main-slider")
      li(data-slide-to="1" data-target="#main-slider" )
      li(data-slide-to="2" data-target="#main-slider")
      li(data-slide-to="3" data-target="#main-slider")
      li(data-slide-to="4" data-target="#main-slider")
      li(data-slide-to="5" data-target="#main-slider")
      li(data-slide-to="6" data-target="#main-slider")
    .carousel-inner
      .item.active
        img.img-responsive(src="./images/slider/bg1.jpg", alt: "slider")
      .item
        img.img-responsive(src="./images/slider/bg2.jpg", alt: "slider")
      .item
        img.img-responsive(src="./images/slider/bg3.jpg", alt: "slider")
        .carousel-caption
          h2 reserve a table for the next swagg
          h4 packages starting @$99 US
          a(href="#contact")
            | BOOK NOW
            i.fa.fa-angle-right
      .item
        img.img-responsive(src="./images/slider/bg4.jpg", alt: "slider")
        .carousel-caption
          h2 bottle service
          h4 packages starting @$199 USD
          a(href="#contact")
            | BOOK NOW
            i.fa.fa-angle-right
      .item
        img.img-responsive(src="./images/slider/bg5.jpg", alt: "slider")
        .carousel-caption
          h2 free bottle sparkles with premium liquor
          a(href="#contact")
            | BOOK NOW
            i.fa.fa-angle-right
      .item
        img.img-responsive(src="./images/slider/bg6.jpg", alt: "slider")
        .carousel-caption
          h2 pre-order services via the official mobile app
          a(href="#contact")
            | DOWNLOAD NOW
            i.fa.fa-angle-right
      .item
        img.img-responsive(src="./images/slider/bg7.jpg", alt: "slider")