section#instagram
  #instagram-feed.carousel.slide(data-interval="false")
    .row
      //- h2.center.blue #internationalswagg on instagram
      .col-sm-6.col-sm-offset-3
        .text-center.carousel-inner.center-block
          - for (var i = 0, len = feed.length; i < len; i++)
            .item
              a(href="#{feed[i]['link']}")
                img(src="#{feed[i]['image']}")
              p #{feed[i]['caption']}
        a.instagram-control-left(data-slide="prev" href="#instagram-feed")
          i.fa.fa-angle-left
        a.instagram-control-right(data-slide="next" href="#instagram-feed")
          i.fa.fa-angle-right