#loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='loginModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close' class="btn-transparent")
          span(aria-hidden='true') ×
        h2#loginModalLabel.modal-title.black Login
      .modal-body
        .row
          a.btn.btn-facebook.btn-large.mar-bot-5(href="/login/facebook")
            i.fa.fa-facebook &nbsp Login with Facebook
        .row
          a.btn.btn-google.btn-large(href="/login/google")
            i.fa.fa-google-plus &nbsp Login with Google
