doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/colorbox.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/defaults.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/chat.css')

  body
    include ./partials/header.jade
    block content
      section#chat
        .container.chat-page
          .chatArea
            ul.messages
          .message-form
            .input-group
              input(class="inputMessage form-control" placeholder="Type here...")
              a.upload-btn
                .fa.fa-paperclip.black
    include ./partials/header.jade
    script var user = !{JSON.stringify(user)}
    script(type="text/javascript" src="/js/jquery.js")
    script(type="text/javascript" src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/js/jquery.colorbox-min.js")
    script(type="text/javascript" src="/js/moment.js")
    script(type="text/javascript" src="/js/chat.js")
