extends layout
block content
  section#videos
    .container
      .row
        - if ( party.videos.length > 1)
          .col-sm-12
            .carousel.slide(s)
              ol.carousel-indicators
                - for (var i = 0, len = party.videos.length; i < len; i++)
                  li(data-slide-to="#{i}" data-target="#main-slider")
              .carousel-inner
                - for (var i = 0, len = party.videos.length; i < len; i++)
                  .item
                    .embed-container
                      iframe(src="//www.youtube.com/embed/#{party.videos[i].url.split('=')[1]}", frameborder=0, allowfullscreen=true)
        - else if( party.videos.length == 1)
          .col-sm-12.col-md-8.col-md-offset-2
            .embed-container
              iframe(src="//www.youtube.com/embed/#{party.videos[0].url.split('=')[1]}", frameborder=0, allowfullscreen=true)
            #event-info.center
              h2.heading #{party.name}
        - else
          .col-sm-12.col-md-6.col-md-offset-3
            .center
              h2 There is no video available for this event.
  section#galleries
    .container
      .images.row
        .col-sm-12
          .tab-content.mar-bot-20
            - for (var i = 0; i < party.galleries.length; i++)
              .tab-pane(role="tabpanel" id="#{party.galleries[i].id}")
                .carousel.slide(data-interval="false" id="gallery-carousel-#{party.galleries[i].id}")
                  h2 photos
                  a.even-control-left(data-slide="prev" href="#gallery-carousel-#{party.galleries[i].id}" )
                    i.fa.fa-angle-left
                  a.even-control-right(data-slide="next" href="#gallery-carousel-#{party.galleries[i].id}" )
                    i.fa.fa-angle-right
                  .carousel-inner
                    - for (var j = 0; j < galleries[i].length; j++)
                      .item 
                        .row
                          - for (var k = 0; k < galleries[i][j].length; k++)
                            .col-sm-2.col-md-1
                              .single-image
                                a(href="#{galleries[i][j][k].image.url}" alt= "#{galleries[i][j][k].id}")
                                  img(class="gallery" src="#{galleries[i][j][k].image.thumb.url}") 

            
          ul.nav.nav-pills.nav-justified(role="tablist")
            - for (var i = 0, len = galleries.length; i < len; i++)
              li(role="presentation")
                 a(href="#{'#' + party.galleries[i].id}" aria-controls="#{party.galleries[i].id}" role="tab" data-toggle="tab") #{party.galleries[i].name}
