extends layout
block content
  #content
    include ./partials/home.jade
    include ./partials/explore.jade
    include ./partials/event.jade
    include ./partials/about.jade
    //- include ./partials/instagram.jade
    include ./partials/direction.jade
    include ./partials/footer.jade
