doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="fb:app_id" content="182543871774398")
    meta(property="og:title" content= title)
    meta(property="og:url" content="https://internationalswagg.com/#" + page)
    meta(property="og:image" content="https://internationalswagg.com/images/slider/bg1.jpg")
    meta(property="og:site_name" content="The Most Anticipated Annual Event in Kingston 11")
    meta(property="og:type" content="website")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800&amp;lang=en")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700&amp;lang=en")
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/colorbox.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/defaults.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/responsive.css')
    link(rel="icon" href="/images/favicon.ico" type="image/x-icon")
    - if (page == 'event')
        link(rel='stylesheet', href='/css/events.css')
    
  body
    include ./partials/header.jade
    include ./partials/login.jade

    block content

    script(type="text/javascript" src="/js/jquery.js")
    script(type="text/javascript" src="/js/bootstrap.min.js")
    - if (page == 'home')
        script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")
        script(type="text/javascript" src="/js/gmaps.js")
    script(type="text/javascript" src="/js/smoothscroll.js")
    script(type="text/javascript" src="/js/jquery.parallax.js")
    script(type="text/javascript" src="/js/coundown-timer.js")
    script(type="text/javascript" src="/js/jquery.scrollTo.js")
    script(type="text/javascript" src="/js/jquery.nav.js")
    script(type="text/javascript" src="/js/jquery.colorbox-min.js")
    - if (page == 'home')
        script(type="text/javascript" src="/js/main.js")
    - if (page == 'event')
        script var data = !{JSON.stringify(party.galleries)};
        script(type='text/javascript', src='/js/event.js')
