doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/colorbox.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/defaults.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/responsive.css')

  block content
    section#login-page
      .cover
      .container
        .row
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            .panel.panel-default
              .panel-heading
                strong Login
              .panel-body
                form.form-horizontal(role='form')
                  a.btn.btn-facebook.btn-large.mar-bot-5(href="/login/facebook")
                    i.fa.fa-facebook &nbsp Login with Facebook
                  br
                  a.btn.btn-google.btn-large(href="/login/google")
                    i.fa.fa-google-plus &nbsp Login with google

      footer#footer
        .container
          .row
            .col-sm-12.center
              .social-icons.mar-bot-20
                a(href="http://facebook.com/International-Swagg-489494244562129/")
                  i.fa.fa-facebook
                a(href="http://instagram.com/damagecontrolfamily")
                  i.fa.fa-instagram
                a(href="http://youtube.com/damagecontrolhq")
                  i.fa.fa-youtube
                a(href="mailto:info@internationalswagg.com")
                  i.fa.fa-envelope
          .text-center
            p 
              | &copy; 2016 
              a(href="http://damagecontrolhq.com/" target="_blank") Damage Control Entertainment. 
              | All Rights Reserved
