extends layout
block content
  section#privacy
    .container
      .row
        .col-sm-12.col-md-9
          h1 Privacy Policy
          p Last updated: January 16, 2016
          p
            | Damage Control Entertainment ("us", "we", or "our") operates the 
            | #[a(href="https://www.internationalswagg.com" target="_blank") www.internationalswagg.com] 
            | website and mobile applications (the "Service"). This page informs you of our policies 
            | regarding the collection, use and disclosure of Personal Information when you use our Service.
            br
            br
            | We will not use or share your information with anyone except as described in this Privacy Policy.
            br
            br
            | We use your Personal Information for providing and improving the Service. By using 
            | the Service, you agree to the collection and use of information in accordance with this 
            | policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy 
            | have the same meanings as in our Terms and Conditions, accessible at 
            | #[a(href="https://damagecontrolhq.com/privacy" target="_blank")]
            br
            br
          p
            strong Information Collection And Use
          p
            | While using our Service, we may ask you to provide us with certain personally identifiable 
            | information that can be used to contact or identify you. Personally identifiable information 
            | may include, but is not limited to, your name and phone number ("Personal Information").
            br
            br
          p
            strong Log Data
          p
            | We collect information that your browser sends whenever you visit our Service ("Log Data"). 
            | This Log Data may include information such as your computer's Internet Protocol ("IP") 
            | address, browser type, browser version, the pages of our Service that you visit, the time 
            | and date of your visit, the time spent on those pages and other statistics.
            br
            br
          p
            strong Cookies
          p
            | Cookies are files with small amount of data, which may include an anonymous unique 
            | identifier. Cookies are sent to your browser from a web site and stored on your computer's 
            | hard drive.
          p
            | We use "cookies" to collect information. You can instruct your browser to refuse all cookies
            | or to indicate when a cookie is being sent. However, if you do not accept cookies, you may 
            | not be able to use some portions of our Service.
            br
            br
          p
            strong Service Providers
          p
            | We may employ third party companies and individuals to facilitate our Service, to provide 
            | the Service on our behalf, to perform Service-related services or to assist us in analyzing 
            | how our Service is used.
            br
          p
            | These third parties have access to your Personal Information only to perform these tasks on 
            | our behalf and are obligated not to disclose or use it for any other purpose.
            br
            br
          p
            strong Security
          p
            | The security of your Personal Information is important to us, but remember that no method 
            | of transmission over the Internet, or method of electronic storage is 100% secure. While 
            | we strive to use commercially acceptable means to protect your Personal Information, 
            | we cannot guarantee its absolute security.
            br
            br
          p
            strong Links To Third Party Sites
          p
            | Our Service may contain links to other sites that are not operated by us. If you click on 
            | a third party link, you will be directed to that third party's site. We strongly advise you 
            | to review the Privacy Policy of every site you visit.
          p
            | We have no control over, and assume no responsibility for the content, privacy policies or 
            | practices of any third party sites or services.
            br
            br
          p
            strong Children's Privacy
          p Our Service does not address anyone under the age of 13 ("Children").
          p
            | We do not knowingly collect personally identifiable information from children under 13. 
            | If you are a parent or guardian and you are aware that your Children has provided us with 
            | Personal Information, please contact us. If we discover that a Children under 13 has 
            | provided us with Personal Information, we will delete such information from our servers 
            | immediately.
            br
            br
          p
            strong Changes To This Privacy Policy
          p
            | We may update our Privacy Policy from time to time. We will notify you of any changes by 
            | posting the new Privacy Policy on this page.
          p
            | You are advised to review this Privacy Policy periodically for any changes. Changes to this 
            | Privacy Policy are effective when they are posted on this page.
            br
            br
          p
            strong Contact Us
          p If you have any questions about this Privacy Policy, please contact us.
