extends layout

block content
  section#profile
    .row
      .col-sm-4.col-sm-offset-4
        .well(style="background-color:black;")
          h2 Profile
            p
              strong id:  
              | #{user.id}
              br
              strong token:  
              | #{user.token}
              br
              strong first:  
              | #{user.first_name}
              br
              strong last:  
              | #{user.last_name}
              br
              strong email:  
              | #{user.email}
              br