extends layout
block content
  section#terms
    .container
      .row
        .col-sm-12.col-md-9
          h1 TERMS & CONDITIONS
          p
            strong Payment Method. 
            |  We accept payments in the form of Major Credit Cards (Visa, MasterCard, Discover, and 
            | American Express) and PayPal only. We will not accept any other forms of payment other than 
            | listed above. We are not responsible for delays in order processing due to declined credit 
            | cards or waiting for PayPal payments to be cleared.
          p 
            strong Ordering Policy. 
            |  Once an order is received, we may contact you via email, phone or text message to gather 
            | additional information for any personalized gift items that you may qualify for. To avoid 
            | any delay or confusion please respond to any such communication in an urgent manner. The 
            | orders may be cancelled, however, any cancellation will result in a 20% cancellation fee 
            | assess on the price of the full package and not the transaction amount. In some cases, we 
            | may allow for the exchange of certain products in a package at our own discretion. All 
            | orders are expected to be settled in full prior to the issuance of any products. In 
            | addition, if you reserved a package and did not show on the day of the event to redeem said 
            | package then those funds are forfeited and non-refundable.  
          p 
            strong Traffic data. 
            |  When you visit our website or use our services, we automatically collect and temporarily 
            | store traffic data in the server logs This includes your IP address, request parameters, 
            | device information such as browser type and browser version, date and time. We use this 
            | data to analyze trends (e.g., popular pages on our site) and to help solve any issues you 
            | might encounter.
          p 
            strong Personal data. 
            |  When you sign up to use our services, we'll ask for personal information, like your name 
            | and your e-mail address. We take all reasonable steps to ensure that the data is stored 
            | securely, including methods such as Secure Socket Layer (SSL) and data encryption.
          p 
            strong Payments. 
            |  We do not store your credit card information. We instead rely on the secure third-party 
            | payment processor Braintree a subsidiary of PayPal. You may also want to read PayPal's 
            | privacy policy: #[a(href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full" target="_blank")].
          p 
            strong Cookies. 
            |  When you sign in to your account, we'll utilize a cookie to identify you. Our cookies do 
            | not collect any personal information.
            br 
            | We will not disclose your personal information unless required to do so by law, or if you 
            | violate our terms of use.
            br 
            | This document was last updated on March 10, 2017
