/* Fix user-agent */

* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #000;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;

  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat-page {
  height: 100%;
  position: absolute;
  width: 100%;
  padding-top: 60px;
  background-image: url("/images/bg_chat_tile.png");
  background-position: center bottom;
  background-size: contain;
}

/* Font */

.messages {
  font-size: 150%;
}

.inputMessage {
  font-size: 100%;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.avatar{
  display: block;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: #000;
}

.messageBody {
  color: #000;
}


.messageTime{
  color: #000;
  min-width: 100px;
  font-size: 10px;
  display: block;
}

.username {
  font-weight: 700;
  font-size: 20px;
}

/* Input */
.message-form{
  color: #000;
  border: 10px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  position: absolute;
  right: 0;
  width: 100%;
}

.input-group .inputMessage{
  width: 95%;
}

.input-group{
  display: inline-block;
  width: 100%;
}

.inputMessage {
  height: 40px;
  border-radius: 0px;
}

.upload-btn{
  background-color: #ccc;
  width: 5%;
  height: 40px;
  float: none;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  display: inline-block;
}

a.avatar img{
  width: 75px;
  -webkit-box-shadow: 0 2px .5px rgba(0,0,0,.13);
  -moz-box-shadow: 0 2px .5px rgba(0,0,0,.13);
  box-shadow: 0 2px .5px rgba(0,0,0,.13);
  -webkit-transition: .2s cubic-bezier(.31,.34,.3,.99);
  transition: .2s cubic-bezier(.31,.34,.3,.99);
}

@media (min-width: 99px) and (max-width: 767px){
  a.avatar img{
    width: 50px;
    -webkit-box-shadow: 0 2px .5px rgba(0,0,0,.13);
    -moz-box-shadow: 0 2px .5px rgba(0,0,0,.13);
    box-shadow: 0 2px .5px rgba(0,0,0,.13);
    -webkit-transition: .2s cubic-bezier(.31,.34,.3,.99);
    transition: .2s cubic-bezier(.31,.34,.3,.99);
  }
}


.message{
  margin-bottom: 20px;
  position: relative;
  display: block;
}

.message-in, .message-out{
  display: inline-block;
  padding: 10px;
  max-width: 600px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px .5px rgba(0,0,0,.13);
  -moz-box-shadow: 0 1px .5px rgba(0,0,0,.13);
  box-shadow: 0 1px .5px rgba(0,0,0,.13);
  -webkit-transition: .2s cubic-bezier(.31,.34,.3,.99);
  transition: .2s cubic-bezier(.31,.34,.3,.99);
}

.message-in{
  background: #ccc;
}

.message-out{
  background: #dcf8c6;
  float: right;
}

.message-in img, .message-out img {
    width: 100%;
}

.message-in:after, .message-out:after {
  content: "";
  position: absolute;
  top: 14px;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
}

.message-in:after {
  background-image: url('/images/tail_in.png');
  border-color: transparent #ccc;
  border-width: 8px 15px 8px 0;
  left: 0;
}

.message-out:after {
  background-image: url('/images/tail_out.png');
  border-width: 8px 0 8px 15px;
  border-color: transparent #dcf8c6;
  right: 0;
}

#bottom {
  height: 60px;
}