.center {
  text-align: center; }

.black {
  color: #111; }

.mar-bot-5 {
  margin-bottom: 5px; }

.mar-bot-10 {
  margin-bottom: 10px; }

.mar-bot-20 {
  margin-bottom: 20px; }

.btn-large {
  color: #fff;
  width: 100%; }
  .btn-large:hover {
    color: #fff; }

.close {
  font-size: 40px; }

.btn-transparent {
  background-color: transparent; }
  .btn-transparent:hover {
    background-color: transparent; }

.btn-facebook {
  background-color: #3B5997; }
  .btn-facebook:hover {
    background-color: #4c70b9; }

.btn-google {
  background-color: #D13D2F; }
  .btn-google:hover {
    background-color: #da6459; }

.btn-youtube {
  background-color: #ec5538; }
  .btn-youtube:hover {
    background-color: #f07d67; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.modal-dialog {
  margin-top: 150px; }
