.center {
  text-align: center; }

.black {
  color: #111; }

.mar-bot-5 {
  margin-bottom: 5px; }

.mar-bot-10 {
  margin-bottom: 10px; }

.mar-bot-20 {
  margin-bottom: 20px; }

.btn-large {
  color: #fff;
  width: 100%; }
  .btn-large:hover {
    color: #fff; }

.close {
  font-size: 40px; }

.btn-transparent {
  background-color: transparent; }
  .btn-transparent:hover {
    background-color: transparent; }

.btn-facebook {
  background-color: #3B5997; }
  .btn-facebook:hover {
    background-color: #4c70b9; }

.btn-google {
  background-color: #D13D2F; }
  .btn-google:hover {
    background-color: #da6459; }

.btn-youtube {
  background-color: #ec5538; }
  .btn-youtube:hover {
    background-color: #f07d67; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.modal-dialog {
  margin-top: 150px; }

#videos {
  background-color: #42A5F5;
  background-image: url('asset_path("performar-bg.jpg")');
  background-position: 0 100%;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  padding-top: 200px; }

#galleries {
  background-color: #111;
  position: relative;
  width: 100%;
  display: flex; }
  #galleries .images {
    margin: 20px 0; }

.nav-tabs {
  border-bottom: 0px; }

.page-container {
  padding: 0 20px;
  background-image: url('asset_path("performar-bg.jpg")');
  background-color: #42A5F5;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat; }

.single-image img {
  width: 100%;
  margin-top: 5px; }

#gallery-carousel {
  margin: 20px 0; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.gallery-control-left,
.gallery-control-right {
  font-size: 36px;
  color: #fff;
  top: 0; }

.gallery-control-left {
  margin-right: 5%; }

.gallery-control-right {
  margin-right: 0; }

.tab-content i {
  font-size: 36px; }
