@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);
/* === fontawesome === */
/* ==== overwrite bootstrap standard ==== */
/*@import url('overwrite.css');*/
@import url("animate.css");
.center {
  text-align: center; }

.black {
  color: #111; }

.mar-bot-5 {
  margin-bottom: 5px; }

.mar-bot-10 {
  margin-bottom: 10px; }

.mar-bot-20 {
  margin-bottom: 20px; }

.btn-large {
  color: #fff;
  width: 100%; }
  .btn-large:hover {
    color: #fff; }

.close {
  font-size: 40px; }

.btn-transparent {
  background-color: transparent; }
  .btn-transparent:hover {
    background-color: transparent; }

.btn-facebook {
  background-color: #3B5997; }
  .btn-facebook:hover {
    background-color: #4c70b9; }

.btn-google {
  background-color: #D13D2F; }
  .btn-google:hover {
    background-color: #da6459; }

.btn-youtube {
  background-color: #ec5538; }
  .btn-youtube:hover {
    background-color: #f07d67; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.modal-dialog {
  margin-top: 150px; }

/*************************
*******Typography******
**************************/
body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  color: #fff; }

.blue {
  color: #00c3ff; }

.nav-tabs > li > a {
  border: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: none; }

.nav-padding {
  padding-top: 200px; }

.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px; }

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }

a:focus,
a:hover {
  text-decoration: none;
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase; }

h2 {
  font-size: 36px; }

.navbar-toggle {
  margin-top: 12px; }

.navbar-toggle .icon-bar {
  background-color: #fff; }

.navbar-toggle,
.navbar-toggle:focus {
  border: 1px solid #fff;
  outline: none; }

/*************************
*******Header CSS******
**************************/
.header-top {
  display: block;
  overflow: hidden;
  padding: 25px; }

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999; }

.main-nav
.container {
  width: 100%; }

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left: 20px; }

.social-icons .fa-facebook:hover {
  color: #3B5997; }

.social-icons .fa-twitter:hover {
  color: #29C5F6; }

.social-icons .fa-google-plus:hover {
  color: #D13D2F; }

.social-icons .fa-youtube:hover {
  color: #ec5538; }

.social-icons .fa-envelope:hover {
  color: #FFB300; }

.social-icons .fa-instagram:hover {
  color: #125688; }

.navbar-brand {
  background-color: #FFB300;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px; }

.navbar-brand img {
  position: absolute;
  top: -35px; }

.navbar-right {
  background-color: #FFB300;
  padding: 0 95px 0 0;
  opacity: .9; }

.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300; }

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
  background-color: #fff;
  color: #FFB300; }

.fixed-menu {
  background-color: #FFB300;
  position: fixed;
  top: 0; }

.fixed-menu .navbar-right {
  padding: 0; }

.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow: inherit; }

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px; }

.fixed-menu .navbar-brand img {
  height: 60px;
  top: 0; }

.fixed-menu .header-top {
  display: none; }

.navbar-right .dropdown.open a {
  color: #FFB300; }
  .navbar-right .dropdown.open a:hover {
    color: #cc8f00; }

/*************************
*******Home CSS******
**************************/
#home {
  position: relative;
  overflow: hidden; }

#main-slider img {
  width: 100%; }

#main-slider
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding: 10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left; }

#main-slider
.carousel-caption h2 {
  font-size: 38px; }

#main-slider
.carousel-caption h4 {
  font-size: 24px; }

#main-slider
.carousel-caption a {
  font-size: 22px;
  color: #FBC02D; }

#main-slider
.carousel-caption a:hover {
  color: #2588a6; }

#main-slider
.carousel-caption a:hover i {
  margin-left: 35px; }

#main-slider
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

#main-slider
.carousel-indicators li {
  background-color: #FFB300;
  border: 1px solid #FFB300; }

#main-slider
.carousel-indicators li.active {
  background-color: #fff;
  border: 1px solid #fff; }

/*************************
*******Explore CSS******
**************************/
#explore {
  background-color: #C34C39;
  background-image: url("/images/event-bg.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px; }

.watch {
  position: absolute;
  left: 0;
  top: 7%; }

#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center; }

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0; }

#countdown li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative; }

#countdown li:last-child {
  margin-right: 0; }

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e; }

#countdown li .days {
  background-color: #42A5F5;
  border-top: 1px solid #65b6f7;
  border-left: 1px solid #65b6f7; }

#countdown li .hours {
  background-color: #FFB300;
  border-top: 1px solid #FBC02D;
  border-left: 1px solid #FBC02D; }

#countdown li .minutes {
  background-color: #75B46E;
  border-top: 1px solid #4CAF50;
  border-left: 1px solid #4CAF50; }

#countdown li .seconds {
  background-color: #333;
  border-top: 1px solid #555;
  border-left: 1px solid #555; }

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px; }

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right: 0;
  position: absolute;
  top: 36px;
  width: 1px; }

.cart {
  background-color: #b34534;
  position: absolute;
  right: -200px;
  top: 37%;
  width: 252px;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }

.cart:hover {
  right: 0; }

.cart a {
  color: #FFFFFF;
  display: block;
  font-size: 24px;
  text-transform: uppercase; }

.cart a i {
  font-size: 30px;
  padding: 20px 12px;
  background-color: #A64030;
  margin-right: 3px; }

/*************************
*******Event CSS******
**************************/
#event {
  background-color: #42A5F5;
  background-image: url("/images/performar-bg.jpg");
  background-position: 0 50%;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat; }

.guitar {
  position: absolute;
  right: 0;
  top: 0; }

#event h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 70px;
  text-transform: uppercase; }

.single-event {
  margin-bottom: 70px; }

.single-event h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase; }

.single-event h5 {
  font-size: 18px;
  font-weight: 100;
  display: block; }

#event-carousel {
  position: relative; }

.even-control-left,
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0; }

.even-control-left {
  right: 3%; }

.even-control-right {
  right: 0; }

/*************************
*******About CSS**********
**************************/
#about {
  background-color: #FFB300;
  position: relative;
  width: 100%;
  display: flex; }

.guitar2, .dc {
  top: 0;
  width: 50%; }

.guitar2 img, .dc img {
  padding-top: 3%; }

.about-content {
  width: 50%;
  background-image: url("/images/about-bg.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 70px 110px; }

#about h2 {
  margin-bottom: 23px;
  margin-bottom: 23px; }

.about-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif; }

#about .btn-primary {
  background-color: #111;
  color: #fff;
  text-transform: capitalize;
  border: none;
  margin-top: 28px; }

#about .btn-primary:hover {
  background-color: #333; }

.event-item{
  display: none;
}

.event-item.active{
  display: block;
}
/*************************
******Instagram CSS****
**************************/
#instagram {
  background-color: #ecedef;
  background-image: url("/images/ig-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 95px 0 90px;
  overflow: hidden; }

.twit {
  position: absolute;
  left: 0;
  top: -42%; }

#instagram-feed .item {
  text-align: center; }

#instagram-feed .item img {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-color: #c5c8ce;
  padding: 3px;
  margin-bottom: 30px; }

#instagram-feed .item a,
#instagram-feed .item p {
  font-size: 24px;
  font-weight: 300;
  font-family: 'Yanone Kaffeesatz','sans-serif'; }

#instagram-feed .item p {
  color: #3D3D3D; }

#instagram-feed .item a {
  color: #00c3ff; }

.instagram-control-left,
.instagram-control-right {
  position: absolute;
  color: #00c3ff;
  top: 59%;
  font-size: 24px; }

.instagram-control-left {
  left: 0; }

.instagram-control-right {
  right: 0; }

/*************************
******Sponsor CSS****
**************************/
#sponsor {
  background-color: #1881a2;
  background-image: url("/images/sponsor-bg.jpg");
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.light {
  position: absolute;
  right: 0;
  bottom: 0; }

#sponsor .col-sm-10 {
  z-index: 10; }

#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px; }

#sponsor .item ul {
  font-size: 0;
  padding: 0; }

#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 33.33%;
  margin-bottom: 75px; }

#sponsor .item ul li:last-child {
  margin-right: 0; }

.sponsor-control-left,
.sponsor-control-right {
  color: #FFFFFF;
  font-size: 24px;
  position: absolute;
  top: 20%; }

.sponsor-control-left {
  right: 12%; }

.sponsor-control-right {
  right: 10%; }

/*************************
******Map CSS****
**************************/
#map {
  position: relative; }

#gmap {
  height: 450px; }

/*************************
******Contact CSS****
**************************/
.direction-section {
  background-color: #FFB300;
  background-image: url("/images/contact-bg.jpg");
  background-position: 60% 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative; }

.ear-piece {
  position: absolute;
  left: 0;
  top: 0; }

#direction .container {
  padding-top: 47px; }

#direction h3 {
  text-transform: inherit;
  color: #373737; }

#direction-section h3 {
  margin-bottom: 25px; }

#direction address {
  font-size: 18px;
  color: #373737; }

.direction-text {
  margin-bottom: 35px;
  display: block; }

#direction-section .form-control {
  border-color: #ae750d;
  box-shadow: none;
  outline: 0 none;
  border-radius: 0;
  color: #797979;
  font-size: 18px; }

#direction-section .form-control:focus {
  border-color: #ae750d; }

#direction-section input {
  height: 44px; }

#direction-section textarea {
  height: 90px;
  resize: none; }

#direction-section .btn-primary {
  background-color: #373737;
  color: #FFB300;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px; }

#direction-section .btn-primary:hover {
  background-color: #212020;
  color: #fff; }

/*************************
******Footer CSS****
**************************/
#footer {
  background-color: #212121;
  background-image: url("/images/footer-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 14px;
  padding: 35px 0; }

#footer a {
  color: #FFB300; }

#footer a:hover {
  color: #FFB300; }

#footer .social-icons .fa {
  font-size: 28px; }

#footer .social-icons a {
  color: #fff; }

.mar-bot-20 {
  margin-bottom: 20px; }

#footer ul.footer{
  list-style: none;
  display: inline-block;
}

#footer ul.footer li{
  float: left;
  margin: 0px 5px;
}

/*************************
******Login page****
**************************/
#login-page {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("/images/bg_suburb.jpg");
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto; }
  #login-page .panel {
    margin: 150px 0 50px; }
  #login-page #footer {
    background-color: transparent !important;
    background-image: none !important;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 14px;
    padding: 35px 0; }

.cover {
  position: fixed;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1; }

.panel-default {
  opacity: 0.9;
  margin-top: 30px; }

.form-group.last {
  margin-bottom: 0px; }

/*************************
******Chat Section****
**************************/
#chat {
  display: none; }


section#terms, section#privacy{
  background: #222222;
  padding: 150px 0 25px;
}

section#terms a, section#privacy a{
  color: #FFB300;
}

section#terms a:hover, section#privacy a:hover{
  color: #FFCA28;
}
