// Defaults
$brandColor : #FFB300; //#FBC02D //#f44336 || #1B7B98 || #16728f
$brandDark  : #FBC02D; //#D32F2F #2da1c5
$darkYellow : #FFB300; // #f7ab24
$red        : #C34C39; //#f44336 || #D32F2F
$blue       : #42A5F5; //#2196F3; //#33888F
$accent     : #FFC107;
$green      :  #75B46E; //#388E3C;

$facebook   : #3B5997;
$twitter    : #29C5F6;
$google     : #D13D2F;
$youtube    : #ec5538;

.center{
  text-align: center;
}

.black{
  color: #111;
}

.mar-bot-5{
  margin-bottom: 5px;
}

.mar-bot-10{
  margin-bottom: 10px;
}

.mar-bot-20{
  margin-bottom: 20px;
}

.btn-large{
  color: #fff;
  width:100%;
  &:hover{
    color: #fff;
  }
}

.close{
  font-size: 40px;
}

.btn-transparent{
  background-color: transparent;
  &:hover{
    background-color: transparent;
  }
}

.btn-facebook{
  background-color: $facebook;
  &:hover{
    background-color: lighten($facebook, 10%);
  }
}

.btn-google{
  background-color: $google;
  &:hover{
    background-color: lighten($google, 10%);
  }
}

.btn-youtube{
  background-color: $youtube;
  &:hover{
    background-color: lighten($youtube, 10%);
  }
}

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.modal-dialog{
  margin-top: 150px;
}