// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "defaults";

#videos{
  background-color: $blue;
  background-image: url("#{asset_path('performar-bg.jpg')}");
  background-position: 0 100%;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  padding-top: 200px;
}

#galleries {
  background-color: #111;  
  position: relative;  
  width: 100%;
  display: flex;
  .images{
    margin: 20px 0;
  }
}

.nav-tabs{
  border-bottom: 0px;
}

.page-container{
  padding: 0 20px;
  background-image: url("#{asset_path('performar-bg.jpg')}");
  background-color: $blue;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}

.single-image{
  img{
    width: 100%;
    margin-top: 5px;
  }
}

#gallery-carousel{
  margin: 20px 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.gallery-control-left, 
.gallery-control-right {
  // position: absolute;
  font-size: 36px;
  color: #fff;
  top: 0;
}

.gallery-control-left {
  margin-right: 5%
} 

.gallery-control-right {
  margin-right: 0;
}

.tab-content i{
  font-size: 36px;
}